<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Masspay - Tech Problem</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300|Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <div id="app">

    <!-- navigation -->
    <nav>
      <ul class="nav">
        <li id="logo">
          <img src="https://cdn.dwolla.com/images/cms/logos/dwolla/dwolla-logo-white-all.svg" alt="Dwolla" />
        </li>
        <li class="nav__pipe">|</li>
        <li class="nav__masspay">Masspay</li>
        <li class="nav__profile">Chester Copperpot</li>
        <li><a href="#"><button>Log out</button></a></li>
      </ul>
    </nav>
    <!-- end navigation -->

    <!-- header -->
    <header v-if="!isSubmitted">
      <h1 v-on:click="createNewRow">Create a Masspay<button class='circle button'>+</button></h1>
    </header>
    <!-- end header -->
    <content>
      <!-- success message -->
      <section class="success card" v-if="isSubmitted">
        <p class="in-progress-message">Your Masspay is in progress!</p>
        <div class="gray-caps">Total</div>
        <div class="total">${{ total }}</div>
        <div><button>Create another Masspay</button></div>
      </section>
      <!-- end success message -->

      <!-- masspay input -->
      <form class="mp_input card" v-if="!isSubmitted">
        <table>
          <thead>
            <tr>
              <th>Recipient</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <template v-for='recipient in allRecipients'>
              <tr>
                <td><input name="receiver" type="text" v-model="recipient.email" /></td>
                <td><input name="amount" type="text" v-model="recipient.amount" /></td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class="total submit"><span v-if="total > 0" class="total">${{ total }}</span><button>Submit</button></div>

      </form>
      <!-- end masspay input -->

    </content>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          recipients: [
            { email: '', amount: null }
          ],
          submitted: false
        }
      },
      computed: {
        total() {
          return this.recipients.reduce((sum, { amount }) => sum + Number(amount), 0)
        },
        isSubmitted() {
          return this.submitted;
        },
        allRecipients() {
          return this.recipients;
        }
      },
      methods: {
        createNewRow() {
          this.recipients.push({ email: '', amount: null });
        }
      }
    });
  </script>
</body>


</html>