
<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Masspay - Tech Problem</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300|Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <content id="app">


  <!-- navigation -->
  <nav>
    <ul class="nav">
      <li id="logo">
        <img src="https://cdn.dwolla.com/images/cms/logos/dwolla/dwolla-logo-white-all.svg" alt="Dwolla"/>
      </li>
      <li class="nav__pipe">|</li>
      <li class="nav__masspay">Masspay</li>
      <li class="nav__profile">Chester Copperpot</li>
      <li><a href="#"><button>Log out</button></a></li>
    </ul>
  </nav>
  <!-- end navigation -->

  <!-- header -->
  <header>
    <h1>Create a Masspay</h1>
    <button>+</button>
  </header>
  <!-- end header -->

  <!-- success message -->
  <section>
    <h2>Your Masspay is in progress!</h2>
    Total
    $nnn.nn
    <button>Create another Masspay</button>
  </section>
  <!-- end success message -->

  <!-- masspay input -->
  <form class="mp_input">
    <table>
      <thead>
        <tr><th>Recipient</th><th>Amount</th></tr>
      </thead>
      <tbody>
        <template v-for='recipient in recipients'>
          <tr>
            <td><input name="receiver" type="text" v-model="recipient.email" /></td>
            <td><input name="amount" type="text" v-model="recipient.amount" /></td>
          </tr>
        </template>
      </tbody>
 
    </table>

    <button>Submit</button>
  </form>
  <!-- end masspay input -->
  </content>

  <script>
    var app = new Vue({
      el: '#app',
      data: function() {
        return {
          recipients: [
            { email: 'stuff@stuff.stuff', amount: 444.44 },
            { email: 'stuff@things.stuff', amount: 6.11 },
            { email: 'stuff@stuff.things', amount: 9.77 },
            { email: 'things@stuff.stuff', amount: 5.22 },
          ]
        }
      }
    });
  </script>
</body>


</html>
