/* reset everything */
* {
  margin: 0;
  padding: 0;
}
/* body {
  font-family: 'Poppins, Roboto, sans-serif'
} */
body { 
  font-family: 'Roboto', Times, serif;
  font-size: 20px;
}

nav {
  height: 60px;
  background-image:  linear-gradient(to right, #e98453, #b45277);
  color: white;
  padding: 20px;
  font-family: 'Roboto', Times, serif;
}
nav button {
  background-color: inherit;
  font-family: 'Roboto', Times, serif;
  font-size: 23px;
}
nav img {
  width: 150px;
  vertical-align: middle;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  line-height: 60px;
  margin: 0 7px;
}
nav ul li:nth-child(3) {
  font-style: italic;
}
nav ul li:nth-child(4){
  margin-left: auto;
}
button {
  border-radius: 6px;
  border: 2px solid #fff;
  padding: 10px 24px;
  background-color: #5e4e76;
  color: #fff;
  font-size: 18px;
}
button.circle {
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
}