/* reset everything */
* {
  margin: 0;
  padding: 0;
}
body { 
  font-family: 'Roboto', Times, serif;
  font-size: 20px;
}
nav {
  height: 60px;
  background-image:  linear-gradient(to right, #e98453, #b45277);
  color: white;
  padding: 20px;
  font-family: 'Roboto', Times, serif;
}
nav button {
  background-color: inherit;
  font-family: 'Roboto', Times, serif;
  font-size: 23px;
}
nav img {
  width: 150px;
  vertical-align: middle;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  line-height: 60px;
  margin: 0 7px;
}
nav ul li:nth-child(3) {
  font-style: italic;
}
nav ul li:nth-child(4){
  margin-left: auto;
}
h1 {
  text-align: center;
}
button {
  border-radius: 6px;
  border: 2px solid #fff;
  padding: 10px 24px;
  background-color: #5e4e76;
  color: #fff;
  font-size: 18px;
}
button.circle {
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  position: relative;
  top: 25px;
  left: 90%;;
}
header {
  margin: auto;
}
section {
  margin: auto;
}
form {
  color: #000;
  font-family: 'Roboto', Times, serif;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(53, 65, 83, 0.12), 0 2px 4px 0 rgba(53, 65, 83, 0.12);
}
form tr {
  outline: 2px solid #f4f7fb;
  /* outline-offset:  */
}
form th {
  color: #c9d3e0;
  font-size: 14px;
  text-align: left;
}
form td, form th {
  padding: 8px 6px;
}
form td input {
  background-color: #f4f7fb;
  border-radius: 5px;
  border-width: 0;
}
form td, form th, form input {
  font-family: 'Roboto', Times, serif;
  font-size: 14px;
  font-weight: 600;
}
form td:last-child input {
  text-align: right;
}
.total {
  font-size: 20px;
}
span.total {
  margin-right: 10px;
}
content {
  background-color: #f4f7fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gray-caps {
  text-transform: capitalize;
  color: #8393aa;
}